<style type="text/css">
        .true {
            color: green;
            text-align: center;
        }
        .false {
            text-align: center;
        }
        .myBorder {
            border-width:3px;
            border-style:solid;
            border-color: black;
            padding: 0.1em;
            width:350px;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
        }

</style>

<html>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <div>
            <span class="md-headline">{{vm.selectedInstrumentName}} <md-button ng-click="vm.save()"> gem</md-button> </span> <md-button class="md-icon-button" ng-click="vm.cancelDialog()"><md-icon>close</md-icon></md-button>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content >


                    <div class="myBorder"  layout-align="center" >
                        <p> <div class="{{ vm.showText[1].val }}" ng-click="vm.showTextClicked(1)"> {{ vm.showText[1].label }} </div> </p>
                    </div>
                    <p></p>
                    <div class="myBorder" layout-align="center" >
                        <div class="{{ vm.showText[2].val }}" ng-click="vm.showTextClicked(2)"> {{ vm.showText[2].label }} </div>
                    </div>








    </md-card-content>
</md-card>
</html>
