<style type="text/css">
        .true {
            background: red;
            color: white;
        }
        .false {
            background: green;
            color: white;
        }
        .myBorder {
            border-width:3px;
            border-style:solid;
            border-color:#FF0000;
            padding: 1em;
        }
</style>

<html>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <div>
            <span class="md-headline">{{vm.selectedInstrumentName}} <md-button ng-click="vm.save()"> gem</md-button> </span> <md-button class="md-icon-button" ng-click="vm.cancelDialog()"><md-icon>close</md-icon></md-button>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

        <table style="word-wrap:break-word;table-layout:fixed;">
        <tr>

        <td >


        <div>  </div>


        <div layout="column">
            <div>
                <div>
                    <div layout="row">
                        <p class="myBorder"> <div class="{{ vm.showText[1].val }}" ng-click="vm.showTextClicked(1)"> {{ vm.showText[1].label }} </div> </p>
                    </div>
                    <div layout="row">
                        <div class="{{ vm.showText[2].val }}" ng-click="vm.showTextClicked(2)"> {{ vm.showText[2].label }} </div>
                    </div>
                </div>
            </div>
        </div>
        </td>



        </tr>
        </table>
    </md-card-content>
</md-card>
</html>
