


<html>

<style type="text/css">

md-dialog {
 width: 2200px;
 height: 800px;
}
</style>

<div >
<md-card>
    <md-card-title>
        <md-card-title-text>
            <div>

            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>


        <md-input-container class="md-block">
        <label>Kategorier</label>
        <md-select ng-model="searchParams.psyktests" ng-change="vm.pop2()">
            <md-option ng-value="'psykologisk_undersoegelsestype'" >Psykologisk undersøgelsestype</md-option>
            <md-option ng-value="'psykiatriske_interviews_og_ratingscales'" >Psykiatriske interviews og ratingscales</md-option>
            <md-option ng-value="'kognitive_og_neuropsykologiske_praestationstests'" >Kognitive og neuropsykologiske præstationstests</md-option>
            <md-option ng-value="'implicitte_projektive_tests'" >Implicitte (projektive) tests</md-option>
            <md-option ng-value="'eksplicitte_spoergeskema_tests'" >Eksplicitte (spørgeskema) tests</md-option>
            <md-option ng-value="'instrumenter_for_indikation_på_malingering'" >Instrumenter for indikation på malingering</md-option>
            <md-option ng-value="'risikovurderingsinstrumenter'" >Risikovurderingsinstrumenter</md-option>
            <md-option ng-value="'psykologisk_vurdering_af_forekomst_af_malingering'" >Psykologisk vurdering af forekomst af malingering</md-option>
            <md-option ng-value="'konklusion_tags'" >Standard formuleringer</md-option>
        </md-select>
    </md-input-container>

        <table>
            <tr>

                <div align="right">
                <md-button  ng-click="vm.close()">luk</md-button> <md-button class="md-icon-button" ng-click="vm.cancelDialog()"><md-icon>clear</md-icon></md-button>
                </div>
            </tr>
        </table>


    </md-card-content>

</md-card>

</div>
</html>
