

<html>

<div class="base">

<style type="text/css">

        .base {
        width: 100%;
        height: 100%;
        }

        .true {
            color: white;
            background-color: rgb(172,203,252);
            text-align: center;
        }
        .false {
            text-align: center;
        }
        .myBorder_true {
            text-align: center;
            border-width:3px;
            border-style:solid;
            border-color: black;
            background-color: rgb(172,203,252);
            padding: 0.1em;
            width:350px;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
        }
        .myBorder_false {
            text-align: center;
            border-width:3px;
            border-style:solid;
            border-color: black;
            padding: 0.1em;
            width:350px;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
        }
        .myBorder {
            border-width:3px;
            border-style:solid;
            border-color: black;
            padding: 0.1em;
            width:350px;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
        }
        .Border {
            border-width:3px;
            border-style:solid;
            border-color: white;
            padding: 0.1em;
            width:350px;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
        }

        tr:hover td {
        background: white;
        }

</style>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <div>
<!--            <center><span class="md-headline">{{vm.selectedInstrumentName}}</span></center>-->
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content >

                    <div class="Border"  style="width: 600px;" layout-align="center" >
                        <p> Anvendte kognitive og neuropsykologiske præstationstest- og screeningsbatterier</p>
                    </div>



                    <table style="word-wrap:break-word;table-layout:fixed;">

                    <tr>

                        <td >
                        <div layout="column">
                            <div>
                                <div layout="row">
                                    <div class="myBorder_{{ vm.showText[0].val }}"  layout-align="center">
                                        <p> <div ng-click="vm.showTextClicked(0)"> {{ vm.showText[0].label }} </div> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[1].val }}"  layout-align="center">
                                         <p> <div ng-click="vm.showTextClicked(1)"> {{ vm.showText[1].label }} </div> </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[2].val }}"  layout-align="center">
                                         <p> <div ng-click="vm.showTextClicked(2)"> {{ vm.showText[2].label }} </div> </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[3].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(3)"> {{ vm.showText[3].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                    <tr>


                    <td >
                        <div layout="column">
                            <div>
                                <div layout="row">
                                    <div class="myBorder_{{ vm.showText[4].val }}"  layout-align="center">
                                        <p> <div ng-click="vm.showTextClicked(4)"> {{ vm.showText[4].label }} </div> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td >
                        <div layout="column">
                            <div>
                                <div layout="row">
                                    <div class="myBorder_{{ vm.showText[5].val }}"  layout-align="center">
                                        <p> <div ng-click="vm.showTextClicked(5)"> {{ vm.showText[5].label }} </div> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[6].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(6)"> {{ vm.showText[6].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[7].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(7)"> {{ vm.showText[7].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[8].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(8)"> {{ vm.showText[8].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[9].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(9)"> {{ vm.showText[9].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[10].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(10)"> {{ vm.showText[10].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td >
                            <div layout="column">
                                <div>
                                    <div layout="row">
                                        <div class="myBorder_{{ vm.showText[11].val }}"  layout-align="center">
                                            <p> <div ng-click="vm.showTextClicked(11)"> {{ vm.showText[11].label }} </div> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>


                    </tr>

                        <tr>
                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[12].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(12)"> {{ vm.showText[12].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[13].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(13)"> {{ vm.showText[13].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[14].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(14)"> {{ vm.showText[14].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[15].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(15)"> {{ vm.showText[15].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>


                        </tr>

                        <tr>


                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[16].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(16)"> {{ vm.showText[16].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[17].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(17)"> {{ vm.showText[17].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[18].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(18)"> {{ vm.showText[18].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[19].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(19)"> {{ vm.showText[19].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>


                        </tr>

                        <tr>


                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[20].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(20)"> {{ vm.showText[20].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[21].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(21)"> {{ vm.showText[21].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[22].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(22)"> {{ vm.showText[22].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[23].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(23)"> {{ vm.showText[23].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>


                        </tr>


                        <tr>



                        </tr>
                    </table>

                    <div class="Border"  style="width: 600px;" layout-align="center" >
                        <p> Anvendte kognitive og neuropsykologiske præstationstests</p>
                    </div>



                    <table style="word-wrap:break-word;table-layout:fixed;">


                        <tr>
                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[24].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(24)"> {{ vm.showText[24].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[25].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(25)"> {{ vm.showText[25].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[26].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(26)"> {{ vm.showText[26].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[27].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(27)"> {{ vm.showText[27].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[28].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(28)"> {{ vm.showText[28].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[29].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(29)"> {{ vm.showText[29].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[30].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(30)"> {{ vm.showText[30].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[31].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(31)"> {{ vm.showText[31].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[32].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(32)"> {{ vm.showText[32].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[33].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(33)"> {{ vm.showText[33].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[34].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(34)"> {{ vm.showText[34].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[35].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(35)"> {{ vm.showText[35].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[36].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(36)"> {{ vm.showText[36].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[37].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(37)"> {{ vm.showText[37].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[38].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(38)"> {{ vm.showText[38].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[39].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(39)"> {{ vm.showText[39].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[40].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(40)"> {{ vm.showText[40].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[41].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(41)"> {{ vm.showText[41].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[42].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(42)"> {{ vm.showText[42].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td >
                                <div layout="column">
                                    <div>
                                        <div layout="row">
                                            <div class="myBorder_{{ vm.showText[43].val }}"  layout-align="center">
                                                <p> <div ng-click="vm.showTextClicked(43)"> {{ vm.showText[43].label }} </div> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>






                    </table>

                    <div align="right">
                    <md-button ng-click="vm.save()"> gem</md-button>  <md-button  ng-click="vm.cancelDialog()">fortryd</md-button>
                    </div>

    </md-card-content>
</md-card>
</div>
</html>
